<!doctype html>
<html lang="en">

<head>
    <title>Lista de Usuarios</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="~/estilos/sefaz/TabelaSefaz.css" rel="stylesheet" type="text/css">
    <link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">


    <style>


        body {
            font-family: 'poppins', sans-serif;
            background: rgb(219, 226, 226);
        }

    </style>

</head>



<body>


    <div class="container col-sm-2 col-xs-2">


        <table id="tabela" class="table table-bordered table-hover">
            <thead class="thead-dark">
                <tr id="table_head">
                </tr>
            </thead>

            <tbody id="table_content">
            </tbody>

        </table>

    </div>

    <input type="hidden" name="name" value="" id="statusRelogio" />




    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/js/all.js" integrity="sha256-2JRzNxMJiS0aHOJjG+liqsEOuBb6++9cY4dSOyiijX4=" crossorigin="anonymous"></script>
    <script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>
    <script type="text/javascript" src="~/Assets/Uteis/jquery.js"></script>


    <script type="text/javascript" src="~/Assets/Uteis/JSON-to-Table-1.0.0.js"></script>
    <script type="text/javascript" src="~/Assets/sefaz/DispatcheresAjax.js"></script>
    <script type="text/javascript" src="~/Assets/sefaz/ImportJson.js"></script>

    <script>

        $(document).ready(function () {

            cargaInicialTabela()
        });



    </script>



</body>

</html>
